:root{
    --primary: #539E84;
    --secondary: #80BCA7;
    --background: #E5EFEB;
    --accent: #1A6B4E;
    --text: #000000;
}

body {
    background-color: var(--background);
    color: var(--text);
}

div > footer {
    background-color: var(--primary);
}

div > header {
    background-color: var(--secondary);
}

div > header p {
    margin-left: 5px;
    font-size: 2.5em;
    font-weight: 600;
    font-family: sans-serif;
}

div > footer li {
    background-color: var(--secondary);
    border-radius: 10px;
    height: 50px;
}

main section {
    background-color: #FFFFFF;
    border-radius: 7px;
    margin: 20px 15px 0;
    /*box-shadow: 10px 10px;*/
    filter: drop-shadow(0px 3.92982px 3.92982px rgba(0, 0, 0, 0.25));
}

main section > footer > ul {
    margin: 0 25%;
    border-radius: 10px;
    border: 2px solid var(--secondary);
    padding: 0;
}

main section > div.row {
    margin-top: 10px;
    padding-left: 3%;
}

main section > div > div:nth-child(2) > p:first-child {
    font-size: 90%;
    font-weight: 300;
}

main section > div > div:first-child > img {
    max-width: 100%;
    border-radius: 50%;
}

main section > footer > ul > li {
    display: inline-block;
}

main section > footer > ul > li > button {
    border: none;
    width: 100%;
    border-radius: 10px;
}

main section > img {
    max-width: 100%;
    border-radius: 7px 7px 0 0;
}

footer > div > ul {
    margin-bottom: 0;
}

footer > div > ul > li {
    display: inline-block;
}