:root{
    --primary: #539E84;
    --secondary: #80BCA7;
    --background: #E5EFEB;
    --accent: #1A6B4E;
    --text: #000000;
}

body {
    background-color: var(--background);
    color: var(--text);
}

div.container-fluid > div.row:first-child > div.col-12:first-child {
    height: 7vh;
}

div.container-fluid > div.row:nth-child(2) > div.col-12:nth-child(2) {
    height: 6vh;
}

div.container-fluid > div.row:nth-child(2) > div.col-12:first-child {
    overflow-y: auto;
    height: 87vh;
}

div > footer {
    background-color: var(--secondary);
}

div > header {
    background-color: var(--secondary);
    height: 100%;
}

div > header > div > div:nth-child(1) > p {
    margin-left: 5px;
    margin-bottom: 0;
    font-size: 2.5em;
    font-weight: 600;
    font-family: sans-serif;
}

div > header > div > div:nth-child(2) > ul {
    margin-top: 10px;
}

div > header > div > div:nth-child(2) > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0 10%;
    width: 30%;
    box-sizing: border-box;
}

div > header > div > div:nth-child(2) > ul > li > input {
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--secondary);
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

div > header > div > div:nth-child(2) > ul > li:first-child > input {
    background-image: url('../imgs/icons/search.png');
}

div > header > div > div:nth-child(2) > ul > li:last-child > input {
    background-image: url('../imgs/icons/notification.png');
}

main {
    padding-bottom: 15px;
}

main section {
    background-color: #FFFFFF;
    border-radius: 7px;
    margin: 20px 15px 0;
    filter: drop-shadow(0px 3.92982px 3.92982px rgba(0, 0, 0, 0.25));
    padding-bottom: 6px;
    max-width: 400px;
}

main section > div:first-child {
    display: none;
    padding: 5px;
    width: 100%;
}

main section > div:first-child > p:first-of-type {
    font-size: 1.3em;
    font-weight: 500;
}

main section > div:first-child > div.row > div.col-4 {
    height: 40px;
    border-radius: 30px;
    /*margin: 0 10px;*/
}

main section > div:first-child > div.row > div.col-4 > p {
    display: inline-block;
}

main section > div:first-child > div.row > div.col-4 > p:first-child {
    margin-left: 5px;
}

main section > div:first-child > div.row > div.col-4 > p:last-child {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 100%;
    min-width: 35px;
    height: 100%;
    text-align: center;
    padding: 5px;
    margin-left: 10px;
    box-shadow: inset -1px -1px 1px rgba(252, 252, 252, 0.25), inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}

main section > div.row {
    margin-top: 10px;
    padding-left: 3%;
}

main section > div.row > div:nth-child(2) > p:first-child {
    font-size: 90%;
    font-weight: 300;
}

main section > div > div:first-child > img {
    width: 100%;
    border-radius: 50%;
}

main section > footer > ul {
    margin: 0 25%;
    border-radius: 4px;
    border: 2px solid var(--secondary);
    padding: 0;
}

main section > footer > ul > li {
    display: inline-block;
}

main section > footer > ul > li > input {
    border: none;
    width: 100%;
}

main section > footer > ul > li > input {
    border-radius: 4px;
    background-color: #FFFFFF;
}

main section > footer > ul > li > input.preview-selected {
    background-color: var(--accent);
    color: #FFFFFF;
}

main section > img {
    width: 100%;
    border-radius: 7px 7px 0 0;
}

div.col-md-3 > footer > div.row {
    height: 100%;
}

footer > div > ul {
    margin-bottom: 0;
    background-color: var(--secondary);
}

footer > div > ul > li {
    display: inline-block;
    text-align: center;
    background-color: var(--secondary);
    border-radius: 10px;
    height: 100%;
}

div.col-md-3 > footer {
    height: 100%;
}

footer > div > ul > li > input {
    background-color: var(--secondary);
    border: none;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
}

footer > div > ul > li > input.input-selected {
    background-color: var(--primary);
}

footer > div > ul > li:first-child > input {
    background-image: url('../imgs/icons/profile.png');
}

footer > div > ul > li:nth-child(2) > input {
    background-image: url('../imgs/icons/post.png');
}

footer > div > ul > li:nth-child(3) > input {
    background-image: url('../imgs/icons/home.png');
}

footer > div > ul > li:last-child > input {
    background-image: url('../imgs/icons/explore.png');
}

@media screen and (min-width: 768px){
    div.col-md-3 > footer {
        margin-top: 20px;
        margin-left: 12px;
        border-radius: 10px;
    }

    div.col-md-3 > footer > div > ul {
        padding-left: 0;
    }

    div.container-fluid > div.row:nth-child(2) > div.col-12:first-child {
        height: 93vh;
    }

    footer > div > ul > li {
        height: 90px;
    }

    footer > div > ul > li > input {
        background-position: left;
        font-size: 100%;
    }
}