/* #region Recipe */
section#post-info-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

section#post-info-section article#recipe-article {
    background-color: var(--light-color);
    margin: 1rem 0 0 0;
    padding: 0;
    max-width: 550px;
    width: 100%;
    border-radius: 7rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

section#post-info-section article#recipe-article img {
    width: 100%;
    border-radius: 7rem;
}

section#post-info-section article#recipe-article p#owner-username {
    font-size: 85%;
}
/* #endregion */

/* #region Comments */
section#comments-section {
    margin: 0;
    padding: 0;
    overflow: auto;
}

section#comments-section > div.single-comment-container {
    display: flex;
    justify-content: center;
}

section#comments-section article.comment-article {
    background-color: var(--light-color);
    margin: 1rem;
    padding: 0;
    max-width: 400px;
    width: 100%;
    border-radius: 0.6rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

section#comments-section article.comment-article > div.propic-container {
    display: flex;
    align-items: flex-start;
}

section#comments-section article.comment-article > div.propic-container > img {
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    padding: 0.5rem;
}

section#comments-section article.comment-article > div:nth-child(2) > div > p:first-child {
    font-size: 75%;
}

section#comments-section article.comment-article > div:nth-child(2) > div > p:nth-child(2) {
    font-size: 70%;
}

section#comments-section article.comment-article > div:nth-child(2) > p {
    font-size: 85%;
    margin-bottom: 0.3rem;
    margin-top: 1rem;
}
/* #endregion */

/* #region Write a comment */
section#write-comment-section {
    background-color: var(--accent);
    padding: 1rem;
}

section#write-comment-section div#comment-input-container {
    display: flex;
    align-items: center;
    padding-left: 0;
}

section#write-comment-section div#comment-input-container > label {
    width: 100%;
}

section#write-comment-section input#comment-input {
    border: none;
    border-radius: 10rem 0 0 10rem;
}

section#write-comment-section input#post-comment-input {
    background-color: var(--light-color);
    border: none;
    border-radius: 0 10rem 10rem 0;
    width: 100%;
    height: 3rem;
}
/* #endregion */

/* #region Media Queries */
@media screen and (min-width: 768px){
    section#post-info-section article#recipe-article {
        max-width: 800px;
    }

    section#comments-section article.comment-article {
        max-width: 450px;
    }
}
/* #endregion */