.list-container-secondary {
	border: 2px solid var(--primary);
	border-radius: 10px;
	min-height: 2em;
}

main > div.row {
	height: 87vh;
	overflow-y: auto;
}

form fieldset ul {
	list-style: none;
}

/* Modal */
.modal-content {
	height: 92vh;
}

.modal-content section input[type='search'] {
	background-color: var(--background);
}

.modal-content section .ingredient-name {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/* #region Result Dropdown*/
div.search-result-container {
	position: relative;
}

div.search-result-container > ul.search-result {
	list-style: none;
	position: absolute;
	/* top: 1em; */
	background-color: var(--light-color);
	border-radius: 5px;
	z-index: 20;
	width: 100%;
	box-shadow: 3px 3px 5px #666;
}

div.search-result-container > ul.search-result li {
	border-bottom: 2px solid var(--secondary);
	box-sizing: border-box;
	text-transform: capitalize;
	font-family: 'Inter';
	font-size: 0.9em;
}

div.search-result-container > ul.search-result li:last-child {
	border-bottom: none;
}
/* #endregion Result Dropdown */
