main section.login-section {
	background: transparent;
	font-family: var(--special-font);
}

main section.login-section > header h1 {
	/* font-weight: bold; */
	font-size: 42px;
}

main section.login-section div > p {
	font-size: 20px;
	font-family: Inter;
	/* font-weight: bold; */
}
