main section.login-section {
	background: transparent;
	font-family: var(--special-font);
}

main section.login-section > header h1 {
	/* font-weight: bold; */
	font-size: 42px;
}

main section.login-section div > p {
	font-size: 20px;
	font-family: Inter;
	/* font-weight: bold; */
}

label {
	font-size: 16px;
	color: black;
	height: 18px;
}

input[type='text'],
input[type='password'] {
	background: var(--light-color);
	border: 2px solid var(--primary);
	border-radius: 10px;
	height: 51px;
	box-sizing: border-box;
}

.button-primary {
	height: 51px;
	background-color: var(--primary);
	border-radius: 10px;
	border: none;

	color: var(--text-light);
	font-weight: bolder;
	font-size: 18px;
	font-family: Inter;
	letter-spacing: 0.05em;
	word-spacing: 0.15em;
}

.button-secondary {
	box-sizing: border-box;
	height: 51px;
	background-color: var(--light-color);
	border-radius: 10px;
	border: 3px solid var(--primary);

	color: var(--text-dark);
	font-weight: bolder;
	font-size: 18px;
	font-family: Inter;
	letter-spacing: 0.05em;
	word-spacing: 0.15em;
}

.link {
	color: var(--primary);
	font-weight: bold;
	text-decoration: none;
}

.link:visited {
	color: var(--primary);
	text-decoration: none;
}
