/*	Table Of Contents:
	------------------------
	- Header
	- Subheader
	- Form
		* Inputs
			# Labels
			# Input Fields
		* Buttons
		* Footer
	- Footer
*/

section.login-section {
	background: transparent;
	font-family: var(--main-font);
}

header > h1 {
	/* font-weight: bold; */
	font-size: 2.4em;
	font-family: var(--special-font);
}

header em {
	color: var(--accent);
}

img.wallpaper {
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	border-left: 5px solid var(--primary);
}

/* #region Form */
section.login-section form {
	height: 27em;
}

/* #region Label */
section.login-section form label {
	position: relative;
}

section.login-section
	form
	label:has(input[type='text'], input[type='password'], input[type='search']) {
	width: 100%;
	height: 100%;
	margin-top: 1.5rem;
}

section.login-section form label:has(p.profile-pic) {
	width: 20vh;
	height: 20vh;
}

section.login-section form label p {
	position: absolute;
	top: 25%;
	transition: 0.25s top;
}

section.login-section form label p.profile-pic {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background-color: var(--light-color);
	border: 3px solid var(--primary);
	border-radius: 50%;
	overflow: hidden;
	top: 0;
}

section.login-section form label p.profile-pic::after {
	display: block;
	position: relative;
	left: 100%;
	transform: translate(-100%, -110%);
	content: '\f304';
	font: var(--fa-font-regular);
	font-weight: 900;
	color: var(--accent);
	text-shadow: 0px 0px 2px var(--light-color), 0px 0px 3px var(--light-color),
		0px 0px 4px var(--light-color), 0px 0px 6px var(--light-color),
		0px 0px 8px var(--light-color);
	text-align: center;
}

section.login-section form label p.profile-pic > img {
	display: block;
	width: 100%;
	height: 100%;
	max-height: 100%;
	object-fit: cover;
}

section.login-section
	form
	label
	input:not([type='file'], [type='search']):focus
	~ p,
section.login-section
	form
	label
	input:not([type='file'], [type='search']):valid
	~ p {
	top: -50%;
}

section.login-section form label input[type='search']:focus ~ p {
	display: none;
}

section.login-section form label input::selection {
	color: var(--text-light);
	background-color: var(--primary);
}
/* #endregion */

section.login-section form div.ingredients-list {
	box-sizing: border-box;
	background-color: var(--light-color);
	border: 2px solid var(--primary);
	border-radius: 10px;
	height: 100px;
}
/* #endregion */

/* Subtitle div */
section.login-section form fieldset legend {
	font-size: 1.25em;
	/* font-weight: bold; */
}

strong.required-char {
	position: relative;
	top: 0.25em;
	margin-right: 5px;
}

div.search-result-container {
	position: relative;
}

div.search-result-container > ul.search-result {
	list-style: none;
	position: absolute;
	/* top: 1em; */
	background-color: var(--light-color);
	border-radius: 5px;
	z-index: 20;
	width: 100%;
	box-shadow: 3px 3px 5px #666;
}

div.search-result-container > ul.search-result li {
	border-bottom: 2px solid var(--secondary);
	box-sizing: border-box;
	text-transform: capitalize;
	font-family: 'Inter';
	font-size: 0.9em;
}

div.search-result-container > ul.search-result li:last-child {
	border-bottom: none;
}

input.input-error {
	border: 2px solid var(--error-color);
}

.alert {
	padding: 1em 2em;
	left: 50%;
	transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
	.alert {
		left: 25%;
	}
}

.error-alert {
	box-sizing: border-box;
	color: var(--error-color);
	background-color: var(--light-color);
	border: 2px solid var(--error-color);
	border-radius: 10px;
	font-weight: bold;
	z-index: 20;
	top: 25%;
	width: 21em;
	position: absolute;
}

.info-alert {
	color: var(--accent);
	background-color: var(--light-color);
	border: 2px solid var(--accent);
	border-radius: 10px;
	font-weight: bold;
}

.scrollable {
	overflow-y: auto;
	max-height: 54vh;
}

.fade-out {
	animation: hide 0.25s linear 5s forwards;
}

@keyframes hide {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		display: none;
	}
}

@keyframes input-error-animation {
}
