section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 50vh;
	user-select: none;
}

section section h1 {
	font-size: clamp(100px, 30vw, 250px);
	font-weight: bold;
	letter-spacing: 0.15em;
	text-align: center;
	color: var(--light-color);

	background: linear-gradient(
		309deg,
		var(--accent),
		var(--primary),
		var(--secondary),
		var(--background)
	);
	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-stroke: 0.15em transparent;

	text-shadow: 5px 5px 7px var(--accent);

	overflow: hidden;
	position: relative;
}

section section p {
	text-align: center;
	font-size: clamp(1.75em, 5vw, 3em);
	color: var(--primary);
}

section a {
	--hover-animation-time: 0.2s;
	color: var(--dark-color);
	text-decoration: none;
	font-size: 1.25em;
	transition: background var(--hover-animation-time) linear,
		color var(--hover-animation-time) linear;
	width: fit-content;
	padding: 0.25em 0.75em;
	box-sizing: border-box;
}

section a::before {
	content: '<- ';
	font-weight: bold;
	color: var(--accent);
}

section a:hover {
	background: var(--light-color);
	color: var(--accent);
	border-radius: 5px;
	transition: background var(--hover-animation-time) linear,
		color var(--hover-animation-time) linear;
}

@keyframes rotate-text-background {
	to {
		transform: rotate(360deg);
	}
}
